<ion-content color="primary">
  <div class="container">
    <ion-card>
      <img style="width: 100%" src="assets/img/logo.png" />
      <ion-card-header>
        <ion-card-title>Recuperar contraseña</ion-card-title>
        <ion-card-subtitle>
          Ingrese el correo electrónico con el que registró la cuenta. Se le
          enviará un código para reestablecer su contraseña
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input
            email
            type="email"
            name="usuario"
            [(ngModel)]="email"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" style="margin: 2em 0 1em 0">
          Enviar código
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
