<ion-content color="primary">
  <div class="container">
    <ion-card>
      <img style="width: 100%" src="assets/img/logo.png" />
      <ion-card-header>
        <ion-card-title>Recuperar contraseña</ion-card-title>
        <ion-card-subtitle>
          <ng-container *ngIf="!emailSended;else codeText">
            Ingrese el correo electrónico con el que registró la cuenta. Se le
            enviará un código para reestablecer su contraseña
          </ng-container>
          <ng-template #codeText>
            <ng-container *ngIf="!accountRecovered;else changePassText">
              Ingrese el código enviado al correo
            </ng-container>
          </ng-template>
          <ng-template #changePassText>
            Registre una nueva contraseña para su cuenta.
          </ng-template>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ng-container *ngIf="!emailSended;else codeForm">
          <form #emailForm="ngForm">
            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input
                email
                required
                type="email"
                name="email"
                [(ngModel)]="email"
              ></ion-input>
            </ion-item>
          </form>

          <ion-button
            expand="block"
            style="margin: 2em 0 1em 0"
            (click)=" onClickSendCode(emailForm)"
          >
            Enviar código
          </ion-button>
        </ng-container>

        <ng-template #codeForm>
          <ng-container *ngIf="!accountRecovered; else changePassForm">
            <form #_codeForm="ngForm">
              <ion-item>
                <ion-label position="floating">Código (6 digitos)</ion-label>
                <ion-input
                  required
                  maxlength="6"
                  type="text"
                  name="code"
                  [(ngModel)]="code"
                ></ion-input>
              </ion-item>
            </form>

            <ion-button
              expand="block"
              style="margin: 2em 0 1em 0"
              (click)=" onClickValidateCode(_codeForm)"
            >
              Aceptar
            </ion-button>
            <ion-button expand="block" fill="clear" (click)="emailSended=false">
              Enviar código nuevamente
            </ion-button>
          </ng-container>
        </ng-template>

        <ng-template #changePassForm>
          <form #_changePassForm="ngForm">
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input
                type="password"
                name="psw1"
                [(ngModel)]="password.psw1"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Verifica tu contraseña</ion-label>
              <ion-input
                type="password"
                name="psw2"
                [(ngModel)]="password.psw2"
                required
              ></ion-input>
            </ion-item>
          </form>

          <ion-button
            expand="block"
            style="margin: 2em 0 1em 0"
            (click)="onClickUpdatePass(_changePassForm)"
          >
            Registrar
          </ion-button>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
