<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onCLickBackButton()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{facultad.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider sticky>
    <ion-label color="primary"> {{title}} </ion-label>
  </ion-item-divider>

  <ion-list lines="none">
    <ion-item *ngFor="let publicacion of publicaciones">
      <ion-thumbnail
        slot="start"
        style="height: 7em; width: 7em"
        (click)="onClickThumbnail(publicacion)"
      >
        <img
          style="object-fit: contain"
          [src]="env.STORAGE+publicacion?.imagenes[0]?.path"
          *ngIf="publicacion?.imagenes?.length"
        />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h5>{{publicacion.nombre}}</h5>
        <p *ngIf="publicacion.Finalidad">
          Disponible para {{publicacion.Finalidad?.nombre}}
        </p>
        <p style="margin-top: 1em">
          <ion-icon
            name="mail"
            color="danger"
            size="small"
            *ngIf="publicacion.contacto?.email"
          ></ion-icon>
          <ion-icon
            name="call"
            color="tertiary"
            size="small"
            *ngIf="publicacion.contacto?.call"
          ></ion-icon>
          <ion-icon
            name="logo-whatsapp"
            color="success"
            size="small"
            *ngIf="publicacion.contacto?.whatsapp"
          ></ion-icon>
          <ion-icon
            name="logo-facebook"
            size="small"
            color="primary"
            *ngIf="publicacion.contacto?.facebook"
          ></ion-icon>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onClickAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-image-fullscreen-view
  [images]="imagenes"
  [show]="showFullScreen"
  (close)="showFullScreen=false"
></ng-image-fullscreen-view>
