<ion-header [translucent]="true">
  <app-toolbar title="PUBLICACIONES"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="publicaciones.Productos?.length">
    <ion-item-divider sticky>
      <ion-label color="primary">Productos</ion-label>
    </ion-item-divider>
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let publicacion of publicaciones.Productos">
        <ion-item detail (click)="onClickPublicacion(publicacion)">
          <ion-thumbnail slot="start" style="height: 5em; width: 5em">
            <img
              style="object-fit: contain"
              [src]="env.STORAGE+publicacion?.imagenes[0]?.path"
              *ngIf="publicacion?.imagenes?.length"
            />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap"> {{publicacion.nombre}} </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="onClickDelete(publicacion)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="publicaciones.Servicios?.length">
    <ion-item-divider sticky>
      <ion-label color="primary"> Servicios</ion-label>
    </ion-item-divider>
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let publicacion of publicaciones.Servicios">
        <ion-item detail (click)="onClickPublicacion(publicacion)">
          <ion-thumbnail slot="start" style="height: 5em; width: 5em">
            <img
              style="object-fit: contain"
              [src]="env.STORAGE+publicacion?.imagenes[0]?.path"
              *ngIf="publicacion?.imagenes?.length"
            />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap"> {{publicacion.nombre}} </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="onClickDelete(publicacion)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="publicaciones.Empleos?.length">
    <ion-item-divider sticky>
      <ion-label color="primary">Empleos</ion-label>
    </ion-item-divider>
    <ion-list lines="none" style="margin-bottom: 3em">
      <ion-item-sliding *ngFor="let publicacion of publicaciones.Empleos">
        <ion-item detail (click)="onClickPublicacion(publicacion)">
          <ion-thumbnail slot="start" style="height: 5em; width: 5em">
            <img
              style="object-fit: contain"
              [src]="env.STORAGE+publicacion?.imagenes[0]?.path"
              *ngIf="publicacion?.imagenes?.length"
            />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap"> {{publicacion.nombre}} </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="onClickDelete(publicacion)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onClickAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
